# IDE files
.vs/
.vscode
*.code-workspace
.idea
JetBrains*

# Doxygen
doxygen/html/

# Build artifacts:
src/FieldWarning/Joined.exe
src/FieldWarning/Joined_Data/*
src/FieldWarning/MonoBleedingEdge/*
src/FieldWarning/UnityCrashHandler64.exe
src/FieldWarning/UnityPlayer.dll
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig 1.asset
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig 1.asset
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig 1.asset
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig 1_diff_tarray.asset
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig 1_normSAO_tarray.asset
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig 2.asset
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig 2_diff_tarray.asset
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig 2_normSAO_tarray.asset
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig.asset
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig_diff_tarray.asset
src/FieldWarning/Assets/Scene/MicroSplatData/MicroSplatConfig_normSAO_tarray.asset